/* BUTTONS */
.btn {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color:  #06113C;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
}

/* ADD QUESTION */

.btn-add {
  background-color: #F7AA00;
  color:#06113C;
  min-width: 162px;
  display: flex;
  justify-content: center;
}

/* GROUP */
.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.action-buttons button {
  margin-bottom: 1rem;
  min-width: 85px;
  max-width: 130px;
  background-color: #fff;
  color: #06113C;
}

  /* DELETE */

  .btn-delete {
    background-color: #fff;
    color: #06113C;
  }

  .btn-delete:hover {
    background-color: #E05D5D;
    color: #fff;
  }

  /* SORT */

  .btn-sort:hover {
    background-color: #06113C;
    color: #fff;
  }

  /* RESET */

  .btn-reset:hover {
    background-color: #F7AA00;
    color: #06113C;
  }

  /* EDIT */

  .btn-edit:hover {
    background-color: #F7AA00;
    color: #06113C;
  }

/* ICON BUTTONS */
.icon-action-buttons {
  display: flex;
  justify-content: flex-end;
}

.icon-btn {
  background-color: rgb(6, 17, 60, 0.6);
  border: 0 solid #e2e8f0;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  margin-left: 0.5rem;
}

.icon-btn svg {
  fill:white;
  height: 1rem;
  margin: 0.5rem 0.3rem;
}
