form {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

label {
  color:#06113C;
}

.form-control {
  padding: 0.5rem 0.75rem;
  width: 500px;
}


input {
  display: inline-block;
  word-wrap: break-word;
  min-width: auto;
  width: 500px;
  max-width: 700px;
  inline-size: 380px;
  caret-color: #06113C;
  height: fit-content;
}

.form-group {
  min-width: 300px;
}

.form-group > input:focus {
  outline: #F7AA00 solid 2px;
  height: fit-content;
}

.form-group > input:not(:last-child) {
  margin-bottom: 1rem;
}

.wrapper label {
  color: white;
}
