form {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

label {
  color:#06113C;
}


input {
  display: inline-block;
  word-wrap: break-word;
  min-width: auto;
  width: 500px;
  max-width: 700px;
  inline-size: 380px;
}


.form-control {
  min-width: 300px;
}

.wrapper label {
  color: white;
}
