@import "components/styles/Buttons.css";
@import "components/styles/Forms.css";

.wrapper {
  background-color: #40A8C4;
  padding: 1.5rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  color: #fff;
  margin-bottom: 1rem;
  min-width: 400px;
}

.wrapper .entries {
  background-color: #0d172a;
}

h1, h2, h4 {
  text-align: center;
  font-size: 7vh;
  color: #235784;
  font-family: 'Koulen', cursive;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: #235784;
}

summary strong {
  color: #F7AA00;
}

::marker {
  color: #F7AA00;
}
